body {
  font-family: Arial, sans-serif;
  background-color: #abb0b6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  direction: rtl;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  width: 55%;
  height: 120%;
  column-gap: 100px;
  row-gap: 20%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;  
  height: 95%;
}

h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: black;
}

.place-description-icon {
  display: flex;
  justify-content: space-between;
}

.place-and-description {
  display: flex;
  flex-direction: column;
}

.weather-description {
  color: gray;
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stats p {
  font-size: 14px;
  color: #200404;
}

